<div class="cts">
  <section class="login">
    <div class="bg-carbon">
      <div class="bg-screw">
        <div class="inner edit">
          <h2 class="heading01 ic ic-h">login</h2>
          <%= form_for(:session, url: login_path) do |f| %>
            <dl>
              <dt>email</dt>
              <dd><%= f.email_field :email, class: '' %></dd>
            </dl>
            <dl>
              <dt>password</dt>
              <dd><%= f.password_field :password, class: '' %></dd>
            </dl>
            <div class="btn-wrap center">
              <div class="btn"><%= f.submit 'ログイン', class: '' %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
