<h1>サーキット一覧</h1>

<ul>
  <% @circuits.each do |circuit| %>
    <li>
      <% if circuit.img? %>
        <p><%= image_tag circuit.img.url %></p>
      <% end %>
      <%= link_to circuit.name, circuit %>
    </li>
  <% end %>
</ul>
<%= link_to 'サーキットの追加', new_circuit_path %>
