<% if logged_in? %>
  <%= render 'users/userdata' %>
<% else %>
  <div class="btn-wrap center">
      <div class="btn"><%= link_to '新規登録', signup_path %></div>
      <div class="btn"><%= link_to 'ログイン', login_path %></div>
  </div>
<% end %>
