@import "_mixin";
@import "variable";

/* 基本設定
-----------------------------------*/
.cts {
  max-width: 1000px;
  margin: 0 auto;
  @include max-lg {
    margin: 0 40px;
  }
  @include max-sm {
    margin: 0 auto;
  }
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.center {
  text-align: center !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.max-xs {
  @include max-xs {
    display: none !important;
  }
}

.min-xs {
  @include min-xs {
    display: none !important;
  }
}

.wd-100 {
  @include max-xs {
    width: 100% !important;
  }
}

/* 背景
-----------------------------------*/
.bg-carbon {
  background-image: image-url('common/com_bg01.jpg');

  > .bg-screw {
    background-size: 20px;
    background-position: top 12px left 12px,  top 12px right 12px, bottom 12px left 12px, bottom 12px right 12px;
    padding: $padding01;
    @include max-sm {
      background-size: 12px;
      background-position: top 8px left 8px,  top 8px right 8px, bottom 8px left 8px, bottom 8px right 8px;
      padding: $padding02;
    }
  }
}

.bg-aluminum {
  background-image: url('common/com_bg02.jpg');
  background-size: 100% 100%;
  color: #000;

  > .bg-screw {
    background-size: 10px;
    background-position: top 6px left 6px,  top 6px right 6px, bottom 6px left 6px, bottom 6px right 6px;
    padding: $padding02;
    height: 100%;
    @include max-sm {
      background-size: 6px;
      background-position: top 3px left 3px,  top 3px right 3px, bottom 3px left 3px, bottom 3px right 3px;
      padding: $padding03;
    }

    * {
      color: $color01;
    }
  }
}

.bg-screw {
  background-image: image-url('common/com_ic01.png'), url('common/com_ic01.png'), url('common/com_ic01.png') ,url('common/com_ic01.png');
  background-repeat: no-repeat;
}

.ic::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: contain;
}


/* 文字
-----------------------------------*/
.font02 {
  font-family: $webfont02;
}

.font-c-red {
  color: $color04 !important;

  &:hover {
    color: $color04 !important;
  }
}

.left {
  text-align: left !important;
}


/* 見出し
-----------------------------------*/
.heading01 {
  font-family: $webfont02;
  font-size: 4.0rem;
  margin-bottom: $margin02;

  &.ic {
    padding-left: 4.8rem;

    &::before {
      width: 4.0rem;
      height: 4.0rem;
    }
  }
}

.heading02 {
  font-family: $webfont02;
  font-size: 2.4rem;
  margin-bottom: $margin04;

  &.ic {
    padding-left: 3.2rem;

    &::before {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}


/* アイコン
-----------------------------------*/
.ic {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
  }
}

.ic-h::before {
  background-image: image-url('common/com_ic02.png')
}

.ic-h-b::before {
  background-image: image-url('common/com_ic02_b.png')
}

.ic-car::before {
  background-image: image-url('common/com_ic03.png')
}

.ic-car-b::before {
  background-image: image-url('common/com_ic03_b.png')
}

.ic-circuit::before {
  background-image: image-url('common/com_ic04.png')
}

.ic-flag::before {
  background-image: image-url('common/com_ic05.png')
}

.ic-flag-b::before {
  background-image: image-url('common/com_ic05_b.png')
}

.ic-calendar::before {
  background-image: image-url('common/com_ic06.png')
}

.ic-calendar-b::before {
  background-image: image-url('common/com_ic06_b.png')
}

.ic-cond::before {
  background-image: image-url('common/com_ic07.png')
}

.ic-cond-b::before {
  background-image: image-url('common/com_ic07_b.png')
}

.ic-setting::before {
  background-image: url('common/com_ic08.png')
}

.ic-setting-w::before {
  background-image: image-url('common/com_ic08_w.png')
}

.ic-tire::before {
  background-image: image-url('common/com_ic09.png')
}

.ic-mail::before {
  background-image: image-url('common/com_ic10.png')
}

.ic-key::before {
  background-image: image-url('common/com_ic11.png')
}

.ic-link::before {
  background-image: image-url('common/com_ic12.png')
}

.ic-heat::before {
  background-image: image-url('common/com_ic13.png')
}

.ic-heat-b::before {
  background-image: image-url('common/com_ic13_b.png')
}

/* リスト
-----------------------------------*/
.list-dot li {
  position: relative;
  padding-left: 1.6rem;

  &::before {
    content: "";
    position: absolute;;
    width: 12px;
    height: 12px;
    left: 0;
    top: .5em;
    transform: translateY(-50%);
    background-image: url('common/list_ic01.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:not(:last-of-type) {
    margin-bottom: $margin04;
  }
}

.list-dot-b li {
  &::before {
    background-image: url('common/list_ic01_b.png');
  }
}


/* ボタン
-----------------------------------*/
.btn {
  display: inline-block;
  margin-top: $margin03;
  @include max-xs {
    width: 100%;
    display: block;
  }
  &:not(:last-of-type) {
    margin-right: 1.6em;
  }

  .form-img {

    input {
      display: none;
    }
  }

  a,input[type="submit"],label {
    font-family: $webfont02;
    font-size: 1.6rem;
    padding: 0.8rem;
    border: solid 2px $color03;
    background-color: $color03;
    display: block;
    color: #FFF;
    min-width: 100px;
    text-align: center;
    @include max-xs {
      width: 100%;
    }

    &:hover {
      background-color: #FFF;
      color: $color03;
    }
  }

  &.btn-red {

    a,input,label {
      border: solid 2px $color04;
      background-color: $color04;

      &:hover {
        background-color: #FFF;
        color: $color04 !important;
      }
    }
  }
}

.btn-wrap {
  font-size: 0;
  text-align: right;
  @include max-xs {
    text-align: left;
    margin-top: 2.0rem;
  }

  .btn {

    &:first-of-type {
      @include max-xs {
        margin-top: 0;
      }
    }

    &:not(:last-of-type) {
      margin-right: 1.6rem;
    }
  }
}


/* テーブル
-----------------------------------*/
.tb01 {
  border: solid 2px $color01;
  width: 100%;
  @include max-xs {
    display: block;
    border: none;
  }

  tbody {
    @include max-xs {
      display: block;
    }
  }

    tr {
      @include max-xs {
        font-size: 0;
        display: block;
        border: solid 2px $color01;
      }

      th {
        font-weight: bold;
        padding-bottom: .8rem;
        text-align: left;
        background-color: #CCC;
        @include max-xs {
          width: 100%;
          display: block;
        }

        &:first-of-type {
          padding-right: .8rem;
          text-align: left;
          vertical-align: top;
        }

        &.min-xs {
          @include max-xs {
            width: 50%;
            display: inline-block;
          }
        }
      }

      td {
        @include max-xs {
          width: 50%;
          display: inline-block;
        }
      }

      th,td {
        border: solid 1px $color01;
        padding: $padding06;
        @include min-xs {
          width: 20%;
        }
        @include max-xs {
          font-size: 1.6rem;
        }
      }
    }

    .tb-mt20 {
      @include max-xs {
        margin-top: 2.0rem;
      }
    }

    .bd-tp-none {
      @include max-xs {
        border-top: none;
      }
    }

    .bd-bt-none {
      @include max-xs {
        border-bottom: none;
      }
    }
}

.tb02 {
  border: solid 2px $color01;
  width: 100%;
  @include max-xs {
    display: block;
    border: none;
  }

  tbody {
    @include max-xs {
      display: block;
    }
  }

  tr {
    @include max-xs {
      display: block;
      border: solid 2px $color01;
      font-size: 0;
    }

    &:not(:last-of-type) {
      margin-bottom: $margin03;
    }
  }

  th {
    padding-bottom: .8rem;
    background-color: #CCC;
  }

  th, td {
    width: 25%;
    text-align: left;
    border: solid 1px $color01;
    padding: $padding06;
    @include max-xs {
      display: inline-block;
      width: 50%;
      font-size: 1.6rem;
    }
  }

}

table {

  th {
    font-family: $webfont02;
  }

  .pb{
    th, td {
      padding-bottom: $padding04;
    }
  }

  .pb02 {

    th, td {
      padding-bottom: $padding05;
    }
  }
}


dt {
  font-family: $webfont02;
  font-weight: bold;
}


/* ページネーション
-----------------------------------*/
.pagination {
  margin-top: 1.2rem;
  font-size: 0;

  span {
    display: inline-block;
    vertical-align: top;
    height: 24px;
    text-align: center;

    &.page {
      width: 24px;
      border: solid 1px $color03;
      background-color: $color03;

      &:hover {
        background-color: $color02;
      }

      &.current {
        background-color: #FFF;
        padding-top: .5rem;
        color: $color03;
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;
        font-family: $webfont02;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      width: 100%;
      height: 100%;
      font-family: $webfont02;
    }

    &:not(:last-of-type) {
      margin-right: .8rem;
    }

    &.first,
    &.prev,
    &.next,
    &.last {

      a {
        font-size: 0;

        &::before {
          font-size: 2.0rem;
        }
      }
    }

    &.first {

      a {

        &::before {
          content: "«";
        }
      }
    }

    &.prev {

      a {

        &::before {
          content: "‹";
        }
      }
    }

    &.next {

      a {

        &::before {
          content: "›";
        }
      }
    }

    &.last {

      a {

        &::before {
          content: "»";
        }
      }
    }
  }
}


/* レイアウト
-----------------------------------*/
//col5
.col3 {
  font-size: 0;

  li {
    width: calc((100% - (#{$margin03} * 2)) / 3);
    font-size: 1.6rem;
    display: inline-block;
    vertical-align: top;
    @include max-lg {
      font-size: 1.2rem;
    }
    @include max-sm {
      width: calc((100% - (#{$margin03})) / 2);
    }


    &:not(:nth-of-type(3n)) {
      margin-right: $margin03;
      @include max-sm {
        margin-right: auto;
      }
    }

    &:not(:nth-of-type(-n+3)) {
      margin-top: $margin03;
      @include max-sm {
        margin-top: auto;
      }
    }

    &:not(:nth-of-type(2n)) {
      @include max-sm {
        margin-right: $margin03;
      }
    }

    &:not(:nth-of-type(-n+2)) {
      @include max-sm {
        margin-top: $margin03;
      }
    }

    a {
      display: block;

      .img-area {
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: $margin04;
        overflow: hidden;

        img {
          width: 100%;
          transition: transform .35s, filter .35s;
        }
      }

      &:hover {

        .img-area {

          img {
            transform: scale(1.2);
            filter: grayscale(100%);
          }
        }

        .name {
          color: $color03;
        }
      }

      p {
        text-align: center;
      }
    }
  }
}

// col2
.col2 {
  font-size: 0;
  letter-spacing: -.4em;
  margin-bottom: $margin01;

  .cell {
    font-size: 1.6rem;
    display: inline-block;
    vertical-align: top;
    @include max-md {
      display: block;
    }

    .img-area {

      img {
        width: 100%;
      }
    }

    &:first-child {
      width: 500px;
      @include max-lg {
        width: calc(100% - (388px + 2.714vw));
      }
      @include max-md {
        width: 100%;
        max-width: 500px;
        margin: 0 auto 3.2rem;
      }
    }

    &:last-child {
      width: calc(100% - (500px + 3.2rem));
      margin-left: 3.2rem;
      @include max-lg {
        width: 388px;
        margin-left: 2.714vw;
      }
      @include max-md {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
      }
    }

    section {

      &:not(:last-of-type) {
        margin-bottom: $margin01;
      }
    }
  }

  &.col2-2 {

    .cell {
      @include max-md {
        max-width: none;
      }

      &:first-child {
        width: calc(100% - (700px + 3.2rem));
        @include max-lg {
          width: 100%;
          font-size: 0
        }

        section {
          @include max-lg {
            display: inline-block;
            vertical-align: top;
            font-size: 1.6rem;
            width: calc((100% - (#{$margin03} * 2)) / 3);
            margin-bottom: 0;
          }
          @include max-xs {
            width: 100%;
            display: block;
          }

          &:not(:nth-of-type(-n+3)) {
            @include max-lg {
              margin-top: $margin02;
            }
          }

          &:not(:nth-of-type(3n)) {
            margin-right: $margin03;
          }

          &:not(:last-of-type) {
            @include max-xs {
              margin-bottom: $margin02;
            }
          }

          &:last-of-type {
            @include max-lg {
              width: calc(((100% - #{$margin03}) / 3) * 2);
              margin-right: 0;
            }
            @include max-xs {
              width: 100%;
            }

            .list-dot-b {
              li {
                @include max-lg {
                  display: inline-block;
                  margin-bottom: 0;
                }

                &:not(:last-of-type) {
                  margin-right: $margin04;
                }
              }
            }
          }
        }
      }

      &:last-child {
        width: 700px;
        @include max-lg {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }

  &.col2-3 {

    .cell {
      font-size: 1.6rem;
      display: inline-block;
      vertical-align: top;
      @include max-md {
        display: block;
      }

      .img-area {

        img {
          width: 100%;
        }
      }

      &:first-child {
        @include max-lg {
          width: 100%;
          max-width: 500px;
        }
      }

      &:last-child {
        @include max-lg {
          width: calc(100% - (500px + 2.714vw));
        }
        @include max-md {
          width: 100%;
          max-width: 500px;
        }
      }
    }
  }
}

// ベストタイム
.besttime {

  a {
    .username {
      margin-bottom: .8rem;
      font-weight: bold;
    }

    .time {
      display: inline-block;
      font-size: 2.4rem;
      font-family: $webfont02;
      color: #ffd700;
      border-bottom: solid 2px #ffd700;
    }

    &:hover {

      .time {
        color: $color03;
        border-bottom: solid 2px $color03;
      }
    }
  }
}

// ランキング
.ranking {
  position: relative;
  background-color: #008000;
  background-image: url('common/ranking_bg01.png');
  background-size: 192.5px auto;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
  }

  .podium {
    position: relative;
    font-size: 0;
    top: 0;
    left: 0;
    padding: 8rem 2.4rem 2.4rem;
    width: 100%;
    height: 100%;
    z-index: 2;

    span {
      display: inline-block;
      width: calc(100% / 3);
      vertical-align: bottom;
      background-color: #FFF;
      background-repeat: no-repeat;
      background-size: 32px;
      background-position: center 8px;

      &:nth-of-type(1) {
        height: 120px;
        background-image: image-url('common/ranking_ic02.png');
      }

      &:nth-of-type(2) {
        height: 180px;
        background-image: image-url('common/ranking_ic01.png');
      }

      &:nth-of-type(3) {
        height: 60px;
        background-image: image-url('common/ranking_ic03.png');
      }
    }
  }

  ol {

    li {
      position: absolute;
      transform: translateX(-50%);
      padding: .8rem;
      @include max-xs {
        width: 27.322vw;
      }

      a:hover {
        color: $color03 !important;
      }

      &:nth-of-type(1) {
        top: 3rem;
        left: 50%;
        @include max-xs {
          top: 3.5rem;
        }

        a {
          color: #ffd700;
        }
      }

      &:nth-of-type(2) {
        top: 9rem;
        left: calc(25% - 1.9rem);
        @include max-md {
          left: calc(25% - 2.9rem);
        }
        @include max-xs {
          left: calc(25% - 4vw);
          top: 9.5rem;
        }

        a {
          color: #c9caca;
        }
      }

      &:nth-of-type(3) {
        top: 15rem;
        left: calc(75% + 1.4rem);
        @include max-md {
          left: calc(75% + 2.4rem);
        }
        @include max-xs {
          top: 15.5rem;
          left: calc(75% + 4vw);
        }

        a {
          position: relative;
          color: #ac6b25;
          z-index: 1;
        }
      }

      .name {
        text-align: center;
        font-size: 1.6rem;
        font-weight: bold;
        text-shadow: 1px 1px 2px #000;
        @include max-xs {
          font-size: 1.4rem;
        }
      }

      .time {
        text-align: center;
        font-size: 2.0rem;
        font-family: $webfont02;
        text-shadow: 1px 1px 2px #000;
        @include max-xs {
          font-size: 1.6rem;
        }
      }
    }
  }
}

// 編集
.edit {

  input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
    width: 100%;
    padding: .8rem;
    border: solid 1px $color03;
    border-radius: 8px;
  }

  textarea {
    height: 300px;
  }

  .check {
    margin: 1.2rem 0 .4rem;
    font-family: $webfont02;
  }
}

.wd01 {
  width: 6rem !important;
}

.wd02 {
  width: 10rem !important;
}

.wd-max {
  width: 100%;
}

/* アラート
-----------------------------------*/
.alert {
  position: fixed;
  top: 100px;
  left: 0;
  padding: 24px;

  &.alert-danger {
    background-color: $color04;
  }

  &.alert-success {
    background-color: $color03;
  }
}

/* オープニング
-----------------------------------*/
#login {
  display: none;
  position: fixed;
  background-color: $color01;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  padding: 0 3%;

   img {
     display: none;
     max-width: 800px;
     width: 100%;
   }

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
