@import "_mixin";
@import "variable";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color01;
  padding: 12px 24px;
  width: 100%;
  z-index: 999;
  margin-bottom: 40px;
  @include max-sm {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px;
    z-index: 999;
    box-shadow: -4px 8px 4px -4px #000;
  }

  h1 {
    @include max-sm {
      height: 32px;
    }

    a {

      &:hover {
        opacity: .7;
      }

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    @include max-sm {
      position: fixed;
      flex-direction: column;
      background-image: image-url('common/com_bg01.jpg');
      top: 56px;
      right: 0;
      box-shadow:-4px 8px 6px -4px #000000;
      opacity: 0;
    }

    li {
      display: flex;
      justify-content: center;;
      align-items: center;;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-image: url(/assets/common/com_meter01.png);
      background-size: contain;
      background-repeat: no-repeat;;
      padding: 4px;

      &:not(:last-of-type) {
        margin-right: 24px;
        @include max-sm {
          margin-right: 0;
          margin-bottom: 1.2rem;
        }
      }

      a {
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-family: $webfont02;
        align-items: center;
        background-color: $color01;
        border-radius: 50%;
        width: 66px;
        height: 66px;
        text-decoration: none;
        color: $color03;
        transition: text-shadow .35s;
        text-shadow: 0;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, .6);
          position: absolute;
          border-radius: 50%;
          transition: background .35s;
        }

        &:hover {
          text-shadow: 0 0 10px $color03,0 0 15px $color03;

          &::before {
            background: rgba(0, 0, 0, 0);
          }
        }

        &.font-c-red:hover {
          text-shadow: 0 0 10px $color04,0 0 15px $color04;
        }
      }
    }
  }

  &.active {

    ul {

      li {

        a {

          &::before {
            background: rgba(0, 0, 0, 0);
            transition: background .35s;
            text-shadow: 0 0 10px $color03,0 0 15px $color03;
          }


          &.font-c-red {
            text-shadow: 0 0 10px $color04,0 0 15px $color04;
          }
        }
      }
    }
  }

  .menu {
    display: none;
    position: relative;
    width: 32px;
    height: 24px;
    margin-right: 19px;
    @include max-sm {
      display: block;
    }

    span {
      position: absolute;
      left: 0;
      display: block;
      border-radius: 4px;
      height: 3px;
      width: 32px;
      background-color: #FFF;
      transition: .3s;

      &:nth-of-type(1) {
        top: 0;
      }

      &:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-of-type(3) {
        bottom: 0;
      }
    }

    &.pushed {

      span {

        &:nth-of-type(1) {
          top: 50%;
          transform: translateX(-50%) rotate(45deg);
          left: 50%
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          top: 50%;
          bottom: auto;
          transform: translateX(-50%) rotate(-45deg);
          left: 50%
        }
      }
    }
  }
}
