@import "_mixin";
@import "variable";

.heat {
  .col2 {
    margin-bottom: 0;
  }

  .setting {

    .tb01 {

      td {

        span {
          font-size: 1rem;
        }
      }
    }

    .remarks {
      white-space: pre-wrap;
      line-height: 1.5;
    }
  }

  .edit {
    max-width: 800px;
    margin: 0 auto;

    section {

      &:not(:last-of-type) {
        margin-bottom: $margin01;
      }
    }

    table {
      @include max-xs {
        display: block;
      }

      th,td {
        padding: .4rem;
        display: block;
      }

      th {
        text-align: left;
        padding-top: .8rem;
        vertical-align: top;
      }
    }

    dd {
      width: 320px;
    }
  }
}
