@import "_mixin";
@import "variable";

// ログイン
.login {

  .edit {
    max-width: 600px;
    margin: 0 auto;

    dl {

      &:not(:last-of-type) {
        margin-bottom: 2.4rem;
      }
    }
  }
}
