// ブレイクポイント
$max-lg: 1079px;
$max-md: 879px;
$max-sm: 767px;
$max-xs: 543px;

$min-lg: 1080px;
$min-md: 880px;
$min-sm: 768px;
$min-xs: 544px;

// 文字
//$webfont01: ;
$webfont02: 'Bangers', cursive;
$fontsize: 10px;

// 色
$color01: #000000;
$color02: #FFFFFF;
$color03: #005FFF;
$color04: #dc143c;

// padding
$padding01: 4.0rem;
$padding02: 2.4rem;
$padding03: 2.0rem;
$padding04: 1.6rem;
$padding05: 1.2rem;
$padding06: .8rem;

// margin
$margin01: 3.2rem;
$margin02: 2.4rem;
$margin03: 2.0rem;
$margin04: 1.6rem;
